*/30 * * * * php /var/www/html/app/notify/processmain.php >/dev/null 2>&1
@daily php /var/www/html/app/notify/notifylicenseexpiring.php >/dev/null 2>&1
@daily php /var/www/html/app/notify/notifylicenseexpired.php >/dev/null 2>&1
