.htmlBackground {
	background:white;
}

body {
/*	font-family:"Trebuchet MS";*/
/*	font-family: 'Open Sans', sans-serif; */
	font-family: "Lucida Grande","Lucida Sans Unicode",helvetica,arial,verdana,sans-serif;
	font-size:13px;
	/*padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

label {
	font-size:13px;
}

.curHand {
	cursor:pointer;cursor:hand;
}

.table-heading {
    background-color: #20b2aa; /*#9acd32*/
    color: white;
}

.loginwrapper {
    background: none repeat scroll 0 0 white;
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    display: block;
    height: 270px;
    left: 50%;
    margin-left: -235px;
    margin-top: -185px;
    padding: 25px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 420px;
}

.bs-docs-sidenav.affix {
  	top: 30px;
}
.bs-docs-sidenav {
  	width: 258px;
}
.bs-docs-sidenav {
    width: 178px; /*228*/
    margin: 30px 0 0;
    padding: 0;
}

/* Filter and Search */
.dataTables_length {
    width: 40%;
    float: left;
}

.dataTables_filter {
    width: 50%;
    float: right;
    text-align: right;
}
/**/

/* Information below table */
.dataTables_info {
    width: 60%;
    float: left;
}

.dataTables_paginate {
    float: right;
    text-align: right;
}
/**/

/* Pagination nested */
.paginate_disabled_previous, .paginate_enabled_previous,
.paginate_disabled_next, .paginate_enabled_next {
    height: 19px;
    float: left;
    cursor: pointer;
    *cursor: hand;
    color: #111 !important;
}
.paginate_disabled_previous:hover, .paginate_enabled_previous:hover,
.paginate_disabled_next:hover, .paginate_enabled_next:hover {
    text-decoration: none !important;
}
.paginate_disabled_previous:active, .paginate_enabled_previous:active,
.paginate_disabled_next:active, .paginate_enabled_next:active {
    outline: none;
}

.paginate_disabled_previous,
.paginate_disabled_next {
    color: #666 !important;
}
.paginate_disabled_previous, .paginate_enabled_previous {
    padding-left: 23px;
}
.paginate_disabled_next, .paginate_enabled_next {
    padding-right: 23px;
    margin-left: 10px;
}

.paginate_disabled_previous {
    background: url('../images/back_disabled.png') no-repeat top left;
}

.paginate_enabled_previous {
    background: url('../images/back_enabled.png') no-repeat top left;
}
.paginate_enabled_previous:hover {
    background: url('../images/back_enabled_hover.png') no-repeat top left;
}

.paginate_disabled_next {
    background: url('../images/forward_disabled.png') no-repeat top right;
}

.paginate_enabled_next {
    background: url('../images/forward_enabled.png') no-repeat top right;
}
.paginate_enabled_next:hover {
    background: url('../images/forward_enabled_hover.png') no-repeat top right;
}

/* Table Sorting starts here */

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('../jquery/datatables/images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('../jquery/datatables/images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('../jquery/datatables/images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('../jquery/datatables/images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('../jquery/datatables/images/sort_desc_disabled.png') no-repeat center right; }

/* Table Sorting ends here */

.dataTables_empty {
    text-align: center;
}



/**/



/* awesomereoder */
.reorderableList
{
    display: block;
    margin: 1em 0;
}

.reorderableList li
{
    background-color: #fff;
    border-top: 1px solid #ddd;
    display: block;
    list-style-type: none;
    padding: 0.5em 1em;
}

.reorderableList li strong
{
    display: inline-block;
}
/* awesomereoder */

.widget {
    clear: both;
    margin-bottom: 2em;
    overflow: hidden;
    position: relative;
    width: auto;
}
.widget-header {
    /*background: -moz-linear-gradient(center top , #FAFAFA 0%, #E9E9E9 100%) repeat scroll 0 0 transparent;*/
    /*background-color: #2f4f4f;*/
    background-color: #3A87AD;/*#20b2aa;/*#9acd32;*/
    color: white;
    border: 1px solid #D5D5D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.widget-header h3 {
    color: white;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    left: 10px;
    line-height: 18px;
    margin-right: 3em;
    position: relative;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    top: 2px;
}
.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    color: #555555;
    display: inline-block;
    font-size: 16px;
    margin-left: 13px;
    margin-right: -2px;
    vertical-align: middle;
}
.widget-content {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 5px 5px 5px 5px;
    padding: 20px 15px 15px;
}
.stats .stat {
    color: #999999;
    display: table-cell;
    font-size: 13px;
    
    vertical-align: top;
    width: 50%;
}

.profile-stat {
    color: #999999;
    display: table-cell;
    font-size: 13px;
    
    vertical-align: top;
    width: 30%;
}

.stat-value {
    color: #444444;
    display: block;
    font-size: 23px;
    font-weight: bold;
    letter-spacing: -2px;
    margin-bottom: 0.55em;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.btn-file > input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  transform: translate(-300px, 0) scale(4);
  direction: ltr;
}

.loginimg {
	background-image:url('../images/church.jpg');
	/*background-position: bottom center;*/
	background-position: bottom left;
	background-repeat: no-repeat;
	height:660px;
	
	background-attachment: scroll;
/*	background-size: cover;*/
	
}