<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>Your Invoice Details - {{PRODUCT_NAME}}</title>
</head>
<body>
	<table width="100%" height="100%" border="0" bgcolor="#f1f1f1" cellspacing="0" cellpadding="0">
        <tbody>
			<tr>
				<td valign="top" align="center" style="padding:20px 0 20px 0">
					<table width="600" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td valign="middle" bgcolor="#f1f1f1" colspan="3"  width="100%">
									<table width="100%" valign="middle">
										<tr>
											<td align="left" width="50%" valign="middle">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" style="vertical-align:middle;" align="middle" style="border:0" alt="ChurchStack" src="cid:cs_head_logo">
												</a>
											</td>
											<td align="right" width="50%" valign="middle">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" style="vertical-align:middle;" align="middle" style="border:0" alt="ChurchStack" src="cid:cs_site_text_logo">
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="3">
									<img width="1" border="0" align="left" alt="ChurchStack" src="cid:cs_vertical_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
								<td valign="top" align="left" style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555">
									<table style="border-collapse: collapse; border: 0; padding: 5px; " align="center" valign="top" width="100%">
										<tr>
											<td align="center" width="100%">
												<div width="100%">
													<table style="border-collapse: collapse; border: 0; padding: 5px;" align="left" valign="top" width="100%">
														<tr>
															<td align="left" width="50%">
																<div style="float:left;">
																	<table style="border-collapse: collapse; border: 0; padding: 5px;" align="left" valign="top">
																		<tbody>
																			<tr>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap><b>Billing Name</b></td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>:<td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{CUSTOMER_NAME}}</td>
																			</tr>
																			<tr>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555; vertical-align:top" nowrap><b>Billing Address</b></td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;vertical-align:top;" nowrap>:<td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;vertical-align:top;">{{BILLING_ADDRESS}}</td>
																			</tr>
																			<tr>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap><b>Email</b></td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>:<td>
																				<td style="border-collapse: collapse; border: 0; padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{CUSTOMER_EMAIL}}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
															<td align="right">
																<div style="float:right;">
																	<table style="border-collapse: collapse; border: 1px solid #A4A4A4; padding: 5px;">
																		<tbody>
																			<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																				<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Order #</td>
																				<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{ORDER_NUMBER}}</td>
																			</tr>
																			<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																				<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Transaction ID</td>
																				<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{TRANSACTION_ID}}</td>
																			</tr>
																			<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																				<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Date</td>
																				<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{ORDER_DATE}}</td>
																			</tr>
																			<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																				<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Amount Paid</td>
																				<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>USD {{AMOUNT_PAID}}</td>
																			</tr>
																		</tbody>
																	</table>
																</div>
															</td>
														</tr>
													</table>
												</div>
												<div style="clear:both"></div>
												<div>
													<table style="border-collapse: collapse; width: 100%; margin: 25px 0 0 0; border: 1px solid #A4A4A4;">
														<tbody>
															<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																<th style="border: 1px solid #A4A4A4; padding: 5px; background: #eee; width:20%; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Item</th>
																<th style="border: 1px solid #A4A4A4; padding: 5px; background: #eee; width:40%; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Description</th>
																<th style="border: 1px solid #A4A4A4; padding: 5px; background: #eee; width:15%; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Unit Price (USD)</th>
																<th style="border: 1px solid #A4A4A4; padding: 5px; background: #eee; width:10%; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Quantity</th>
																<th style="border: 1px solid #A4A4A4; padding: 5px; background: #eee; width:15%; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Amount (USD)</th>
															</tr>
															<!--ALL_ITEMS_ROWS-->
															<tr>
																<td colspan="2">&nbsp;</td>
																<td colspan="2" style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; font-size:13px;font-family:Arial,sans-serif;color:#555555;">Subtotal</td>
																<td style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; font-size:13px;font-family:Arial,sans-serif;color:#555555;"><div id="subtotal">{{SUBTOTAL}}</div></td>
															</tr>
															<tr>
																<td colspan="2">&nbsp;</td>
																<td colspan="2" style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; font-size:13px;font-family:Arial,sans-serif;color:#555555;">Discount (less)</td>
																<td style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; font-size:13px;font-family:Arial,sans-serif;color:#555555;"><div id="subtotal">{{DISCOUNT}}</div></td>
															</tr>
															<tr>
																<td colspan="2">&nbsp;</td>
																<td colspan="2" style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; background: #eee; font-weight:bold; font-size:13px;font-family:Arial,sans-serif;color:#555555;">Net Total</td>
																<td style="border: 1px solid #A4A4A4; padding: 5px; text-align: left; font-weight:bold; background: #eee; font-size:13px;font-family:Arial,sans-serif;color:#555555;">{{NET_TOTAL}}</td>
															</tr>
														</tbody>
													</table>
												</div>
												<div style="float:right;">
													<table style="border-collapse: collapse; border: 1px solid #A4A4A4; padding: 5px;margin:20px 0 0 0;">
														<tbody>
															<tr style="border: 1px solid #A4A4A4; padding: 5px;">
																<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Payment Gateway</td>
																<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{PAYMENT_GATEWAY}}</td>
																<td style="text-align: left; background: #eee;  padding: 5px; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>Payment Mode</td>
																<td style="text-align: left; padding: 5px; border: 1px solid #A4A4A4; font-size:13px;font-family:Arial,sans-serif;color:#555555;" nowrap>{{PAYMENT_MODE}}</td>
															</tr>
														</tbody>
													</table>
												</div>
											</td>
										</tr>
									</table>
								</td>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="3">
								&nbsp;
								</td>
							</tr>
							<tr bgcolor="#c8c8c8">
								<td bgcolor="#c8c8c8" align="center" style="text-align:center" colspan="3">
									<p style="font-size:13px;font-family:Arial,sans-serif;color:#000000;margin:0;padding-top:6px;padding-bottom:6px">
										Thank you,
										<br>
										<b>{{PRODUCT_NAME}}</b>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<body>
</html>
<!--ITEM_ROW_START <tr style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">
	<td style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">{{ITEM_NAME}}</td>
	<td style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">{{ITEM_DESC}}</td>
	<td style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">{{ITEM_UNIT_PRICE}}</td>
	<td style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">{{ITEM_QUANTITY}}</td>
	<td style="border: 1px solid #A4A4A4; padding: 5px; vertical-align: middle;">{{ITEM_TOTAL}}</td>
</tr> ITEM_ROW_END-->
