<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<title>{{PRODUCT_NAME}} - Your account is due for renewal</title>
</head>
<body>
	<table width="100%" height="100%" border="0" bgcolor="#f1f1f1" cellspacing="0" cellpadding="0">
        <tbody>
			<tr>
				<td valign="top" align="center" style="padding:20px 0 20px 0">
					<table width="600" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td valign="top" bgcolor="#f1f1f1" colspan="3"  width="100%">
									<table width="100%">
										<tr>
											<td align="left" width="50%">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" align="left" style="margin:0" alt="ChurchStack" src="cid:cs_head_logo">
												</a>
											</td>
											<td align="right" width="50%">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" align="right" style="margin:0" alt="ChurchStack" src="cid:cs_site_text_logo">
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="3">
									<img width="1" border="0" align="left" alt="ChurchStack" src="cid:cs_vertical_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
								<td valign="top" align="left" style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555">
									<h1 style="font-size:28px;font-weight:normal;font-family:Arial,sans-serif;line-height:34px;margin:0;margin-bottom:10px;color:#002d53">
										Dear {{CHURCH_NAME}},
									</h1>
									<h2 style="font-size:17px;font-weight:bold;font-family:Arial,sans-serif;line-height:23px;margin:0 0 10px 0;color:#e34500">This is to inform you that your church's account on {{PRODUCT_NAME}} is due for renewal as your current license expires in {{LIC_REM_DAYS}} days. To continue using the product without any break, please renew your subscription by logging into your church account.</h2>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:25px">
										If you have any questions about the product or if you are facing any issues, just email us at <a target="_blank" style="text-decoration:none;color:#0068b7" href="mailto:{{SUPPORT_EMAIL}}">{{SUPPORT_EMAIL}}</a> and we will be more than happy to help you.
									</p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
									Visit the following page to see the available plans:<BR/>
									<a href="{{PRICING_URL}}" target="_blank" style="text-decoration:none;color:#0068b7">{{PRICING_URL}}</a>
									</p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
										<b>Here is how you can make payment and renew your subscription:</b>
										<ul>
											<li>Go to <a href="{{CS_LOGIN_WEBSITE}}" target="_blank" style="text-decoration:none;color:#0068b7">{{PRODUCT_NAME}} account login</a> page</li>
											<li>Login to your account with your credentials</li>
											<li>Click the button "Renew Subscription" shown at the top right corner</li>
											<li>You will be shown the available plans that will suit your church's profile</li>
											<li>Choose the plan and proceed to make the payment</li>
											<li>Keep enjoying {{PRODUCT_NAME}}!</li>
										</ul>
									</p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:25px">
										If you have any questions about the renewal or about an upgraded plan, please contact us at <a target="_blank" style="text-decoration:none;color:#0068b7" href="mailto:{{SALES_EMAIL}}">{{SALES_EMAIL}}</a>
									</p>
								</td>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td bgcolor="#c8c8c8" align="center" style="text-align:center" colspan="3">
									<p style="font-size:13px;font-family:Arial,sans-serif;color:#000000;margin:0;padding-top:10px;padding-bottom:10px">
										Thank you,
										<br>
										<b>{{PRODUCT_NAME}}</b>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<body>
</html>