<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<!-- title>{{PRODUCT_NAME}} - Referral Program</title -->
</head>
<body>
	<table width="100%" height="100%" border="0" bgcolor="#f1f1f1" cellspacing="0" cellpadding="0">
        <tbody>
			<tr>
				<td valign="top" align="center" style="padding:20px 0 20px 0">
					<table width="600" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td valign="middle" bgcolor="#f1f1f1" colspan="3"  width="100%">
									<table width="100%" valign="middle">
										<tr>
											<td align="left" width="50%" valign="middle">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" style="vertical-align:middle;" align="middle" style="border:0" alt="ChurchStack" src="cid:cs_head_logo">
												</a>
											</td>
											<td align="right" width="50%" valign="middle">
												<a target="_blank" href="{{PRODUCT_WEBSITE}}">
													<img border="0" style="vertical-align:middle;" align="middle" style="border:0" alt="ChurchStack" src="cid:cs_site_text_logo">
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td valign="top" colspan="3">
									<img width="1" border="0" align="left" alt="ChurchStack" src="cid:cs_vertical_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
								<td valign="top" align="left" style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555">
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
										Welcome to {{PRODUCT_NAME}} , the new generation Church Management Software. You have made a fantastic decision and it is our privilege to have you on board. We want to assure you that {{PRODUCT_NAME}} will be the most affordable ChMS with exciting features and the most rewarding.
									</p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
										While we celebrate your partnership with us, we want to reveal to you the most exciting thing about {{PRODUCT_NAME}}, the Referral Program. With our referral program, you will get 30 days of additional validity for every referral you make.
									</p>
									<p><a href="{{REFERRAL_PROGRAM_URL}}" target="_blank" style="font-size:17px;font-weight:bold;font-family:Arial,sans-serif;line-height:23px;margin:0 0 10px 0;color:#e34500"><h3>Click here to know more about {{PRODUCT_NAME}}'s Referral Program</a></h3></p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:25px">
										If you have any questions, please contact us at <a target="_blank" style="text-decoration:none;color:#0068b7" href="mailto:{{SUPPORT_EMAIL}}">{{SUPPORT_EMAIL}}</a>
									</p>
								</td>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="cid:cs_horizontal_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td bgcolor="#c8c8c8" align="center" style="text-align:center" colspan="3">
									<p style="font-size:13px;font-family:Arial,sans-serif;color:#000000;margin:0;padding-top:10px;padding-bottom:10px">
										Thank you,
										<br>
										<b>{{PRODUCT_NAME}}</b>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<body>
</html>