<html xmlns="http://www.w3.org/1999/xhtml">
<body>
	<table width="100%" height="100%" border="0" bgcolor="#f1f1f1" cellspacing="0" cellpadding="0">
        <tbody>
			<tr>
				<td valign="top" align="center" style="padding:20px 0 20px 0">
					<table width="600" border="0" bgcolor="#ffffff" cellspacing="0" cellpadding="0">
						<tbody>
							<tr>
								<td valign="top" bgcolor="#f1f1f1" style="padding-bottom:20px" colspan="3">
									<!--<a target="_blank" href="http://www.churchstack.com">
										<img width="450" height="56" border="0" align="left" style="margin:0" alt="ChurchStack" src="../../images/cslogos.png">
										CHURCHSTACK
									</a>-->
								</td>
							</tr>
							<tr>
								<td valign="top" height="25" colspan="3">
									<img width="1" height="25" border="0" align="left" alt="ChurchStack" src="../../images/email/vertical_stripe.gif" style="margin:0">
								</td>
							</tr>
							<tr>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="../../images/email/horizontal_stripe.gif" style="margin:0">
								</td>
								<td valign="top" align="left" style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555">
									<h1 style="font-size:28px;font-weight:normal;font-family:Arial,sans-serif;line-height:34px;margin:0;margin-bottom:10px;color:#002d53">
										Dear {{FIRST_NAME}} {{LAST_NAME}},
									</h1>
									<h2 style="font-size:17px;font-weight:bold;font-family:Arial,sans-serif;line-height:23px;margin:0 0 10px 0;color:#e34500">Welcome to {{PRODUCT_WEBSITE}}. We have created your {{PRODUCT_WEBSITE}} account.</h2>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
										You can login to your {{PRODUCT_WEBSITE}} account by clicking the signin button on the top of the churchstack.com site and using the username and password below:
										<br><br>
										<b style="color:#000000">E-mail</b>: <a target="_blank" href="mailto:{{CUSTOMER_EMAIL}}">{{CUSTOMER_EMAIL}}</a>
										<br>
										<b style="color:#000000">Password</b>: Your password is the password you created when you registered on the site.
										<br><br>
										If you forgot your password, you may recover it here: <a target="_blank" style="text-decoration:none;color:#0068b7" href="http://account.churchstack.com/forgotpassword.php">http://account.churchstack.com/forgotpassword.php</a>
									</p>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px">
										Your Church Details:
									</p>
									<ul style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:10px;padding:0">
										<li style="list-style:none inside;padding:0 0 0 10px">{{CHURCH_NAME}}<BR>{{CHURCH_ADDRESS}}</li>                                              
									</ul>
									<p style="font-size:13px;font-family:Arial,sans-serif;line-height:18px;color:#555555;margin:0;margin-bottom:25px">
										If you have any questions, please contact us at <a target="_blank" style="text-decoration:none;color:#0068b7" href="mailto:{{SUPPORT_EMAIL}}">{{SUPPORT_EMAIL}}</a>
									</p>
								</td>
								<td width="30" valign="top">
									<img width="30" height="1" border="0" align="left" alt="Magento" src="../../images/email/horizontal_stripe" style="margin:0">
								</td>
							</tr>
							<tr>
								<td bgcolor="#c8c8c8" align="center" style="text-align:center" colspan="3">
									<p style="font-size:13px;color:#000000;margin:0;padding-top:10px;padding-bottom:10px">
										Thank you,
										<br>
										<b>The {{PRODUCT_WEBSITE}} Team</b>
									</p>
								</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
<body>
</html>